@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  /*height: 100vh;*/
  /*width: 200%;*/
  display: flex;
  justify-content: justify;
  align-items: center;
  background: #f2f2f2;
}
nav{
  width: 1535px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  position: relative;
  background: #82AAE3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
nav label{
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease;
}
nav label:hover{
background: rgb(96,94,94,0.5);

}
nav label i{
  margin-right: 3px;
}
nav .slider{
  position: absolute;
  height: 100%;
  width: 16.6%;
  background: rgb(70, 70, 70);
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: all 0.4s ease;
  z-index: 1;
}
#assignment:checked ~ nav label.assignment,
#attendance:checked ~ nav label.attendance,
#announcement:checked ~ nav label.announcement,
#resources:checked ~ nav label.resources,
#testcentre:checked ~ nav label.testcentre,
#profile:checked ~ nav label.profile{
  color: #fff;
}
#assignment:checked ~ nav .slider{
left: 0%;
}
#attendance:checked ~ nav .slider{
left: 16.7%;
}
#announcement:checked ~ nav .slider{
left: 33.4%;
}
#resources:checked ~ nav .slider{
left: 50%;
}
#testcentre:checked ~ nav .slider{
left:66.7%;
}
#profile:checked ~ nav .slider{
left:83.4%;    
}
input[type=radio]{
  display: none;
}